<a href="https://colab.research.google.com/github/DerikVo/COOP_Teaching_Material/blob/main/Mock_interview_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Notes
If there are any questions Please contact "[Derik Vo](https://www.linkedin.com/in/derik-vo/)" on slack or LinkedIn

Ideally this should be ran in a `Google Colab` for ease of access

**Last Updated: April 15, 2024**

=======================================

This notebook is intended to be used for mock interviews on SQL knowledge. This should cover knowledge of basic quering, joins, aliasing, and more advanced skills such as CTE, subquries, and case statements depending on the interviewer.

# Run this

Run this block first to set up "Database"

In [ ]:
# Run this to set up the "DataBase"
import importlib

# Check if faker package is installed
if importlib.util.find_spec("faker") is None:
    !pip install faker

# Check if pandasql package is installed
if importlib.util.find_spec("pandasql") is None:
    !pip install pandasql

import pandas as pd
#Used to generate fake names
from faker import Faker
import random
#Attemped to Use this for a consistent database, but its not working as intended.
random.seed(431)
from pandasql import sqldf
# Initialize Faker to generate fake data
fake = Faker()

# List of grocery products, Can be expanded on if needed
grocery_products = [
    "Milk", "Bread", "Eggs", "Cheese", "Yogurt", "Apples", "Bananas", "Oranges",
    "Lettuce", "Tomatoes", "Carrots", "Rice", "Pasta", "Cereal", "Peanut butter",
    "Jam", "Frozen vegetables", "Frozen pizza", "Chicken breasts", "Ground beef",
    "Fish fillets", "Chips", "Crackers", "Cookies"
]
# Generates fake customer names and IDs
"""
Id has a potential for errors this is intended
COOPers can check for duplicate values as a form data quality checking
"""
customer_data = {
    'CustomerId': range(1, 10001),
    'CustomerName': [fake.name() for _ in range(10000)]
}

# Create DataFrame for customer names
customers = pd.DataFrame(customer_data)

# Generate fake sales data
data = {
    'OrderID': [fake.random_int(min=1, max=99999) for _ in range(10000)],
    'CustomerID': [random.randint(1, 10000) for _ in range(10000)],
    'ProductNumber': [fake.random_int(min=1, max=25) for _ in range(10000)],
    'Quantity': [fake.random_int(min=1, max=10) for _ in range(10000)],
    'OrderDate': [fake.date_between(start_date='-5y', end_date='today') for _ in range(10000)]
}

# Create DataFrame for sales data
sales = pd.DataFrame(data)

# Create DataFrame for product reference table
product_data = {
    'ProductNumber': range(1, len(grocery_products)+1),
    'ProductName': grocery_products,
    'Price': [round(random.uniform(1, 10), 2) for _ in range(1, len(grocery_products)+1)]
}
products = pd.DataFrame(product_data)

# Define a function to execute SQL queries on DataFrame
def run_query(query):
    # Convert all table and column names to lower case to avoid case sensitivity
    query = query.lower()
    return sqldf(query, globals())

Collecting faker
  Using cached Faker-24.9.0-py3-none-any.whl (1.8 MB)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)
Installing collected packages: faker
Successfully installed faker-24.9.0

# Database Information

You have Three Tables in the database they are as follow:

### Sales Table:

| OrderID | CustomerID | ProductNumber | Quantity | Price | OrderDate   |
|---------|--------------|---------------|----------|-------|-------------|
| ####    | # | ##            | #        | ##.## | ####-##-##  |

### Products Table:

| ProductNumber | ProductName |
|---------------|-------------|
|       #       |     Product    |

### Customers Table:

| CustomerID | CustomerName |
|---------------|-------------|
|       #       |     Name    |

# Questions

## Output a table so that it shows us:
```The ORDERID, The CUSTOMERS's NAME, The PRODUCT they bought, The QUANTITY they bought, how much was SPENT TOTAL, and the DATE of purchase```


## Can you identify any errors in the data?

========================================


Captains can also ask other questions as needed.

Note that data is randomly generated

========================================

# Write Query Here

 In order for the code to work you must have ran the code above to set up the data base.

To query the database:


* Make sure the block has `query = """ """` and `run_query(query)`

* Make sure you write your query within the triple quotes (` """ SELECT ... """`)

In [ ]:
# Print query
# Make sure its in the triple quotes
query = (
"""
SELECT

"""
)
run_query(query)