<a href="https://colab.research.google.com/github/DerikVo/COOP_Material/blob/main/python/Derik_Copy_of_Python_Lesson_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://tinyurl.com/k2t79s6t" style="float: left; margin: 20px; height: 55px">

# Basic Python Fundamentals

_Authors: Christopher Chan_

_Facilitated by: Derik Vo_

Original notebook:

[link](https://colab.research.google.com/drive/1FSl2dWSDyDd3Rq5gfWU-b2Ks8AcLKAoK?usp=share_link
)


The thing to pay attention is the code listed below, which will combine everything we learned and things **we will** learn later. If you have any questions about the code message me (Derik Vo capt C### on slack, or if im not teaching a cycle message my alumni acount)

[Combining everything](# combining_everything)

### Objective

Upon completion of this lesson you should be able to understand the following:
1. Variable creation and naming convention
2. Object types
3. Basic mathematic operations, Booleans and Logical Operators
4. Index and Slicing
5. Strings
6. Lists, Tuples, Dictionaries and Mutability

This will help us understand the basic fundamentals to python

##### ==================================================================================================
### Variables

Variables are names that have been assigned to specific objects.

##### ==================================================================================================
Create a variable called `num_coopers` to represent the number of COOPers in class. Assume the number is 16.

Example:

In [ ]:
num_coopers = 16

print(num_coopers)

16

##### ==================================================================================================
Create a variable `num_capt` to represent the number of captains in class. Assume the number is 4.

Example:

In [ ]:
num_capt = 4

print(num_capt)

4

##### ==================================================================================================
### Restrictions on Variable Names

- Cannot start with numbers (i.e., `5`, `5_head`).
- Cannot match names of Python keywords (i.e., '`for`', '`and`', '`elif`').
- Cannot contain spaces or periods.

#### ‚úãüèº Callout !!

Python is case-sensitive. This means that variables like these: `coop_careers` and `COOP_careers` are not the same!

##### ==================================================================================================
### Best Practices for Variable Names
- Should be *unambiguous* and *descriptive*
- Short and clear variable names are best
- Lowercase variables with underscores between words (i.e., '`coop_student`', '`coop_captain`')

##### ==================================================================================================
### Objects in Python

The concept of objects (and by extension Object Oriented Programming) is something that can take a whole introductory course to explain, but for our purposes
we only need to know a few key things:

1. In Python, everything is an object (including functions!). Variables always reference some kind of object
2. All objects have three properties that we are concerned with: attributes, methods, and types
3. Attributes are things that describe an object, such as a name. These will vary depending on the object in question
4. Methods are things that the object can do. For example, a `string` object has a `replace` method which allows you to replace text within that string
5. Each object has a data type that defines how it can be interacted with. For instance, the number `1` is an integer object and can be used with other numeric types and operations

##### ==================================================================================================
### Common Types in Python

The *type* of an object in any programming language tells a computer what operations are defined for that object and how they are defined.

##### ==================================================================================================
Adding two `int` (integer numbers) would return a integer.

Example:

In [ ]:
ten = 5 + 5
print(ten)

10

##### ==================================================================================================
Adding two `float` (numbers with decimals) would return a float.

Example:

In [ ]:
also_ten = 5.0 + 5.0
print(also_ten)

10.0

##### ==================================================================================================
The `+` operation concatenates objects, including strings.

Adding two `str` (strings - sequence of characters)

Example:

In [ ]:
fifty_five = "5" + "5"
print(fifty_five)

55

##### ==================================================================================================
The built-in function in Python `len` counts and returns the number of elements in a object.

Applying `len` to a string.

Example:

In [ ]:
len("33333")

5

##### ==================================================================================================

### Single Elements

- **Integer:** Are whole number ranging from negative infinity to infinity, such as `-2`,`-1`,`0`,`1`, `2`, etc.
- **Float:** A number with a decimal, such as `1.23482` or `3.0`.
- **Boolean:** `True` or `False`.

### Containers

- **Strings:** A sequence of characters: `"Chris is very handsome"`
- **Lists:** An ordered sequence of objects: `[1, 'love', ['Chris']]`
- **Tuples:** Similar to a List but is immutable after it is created, `(1, 'love', ['Chris'])`
- **Dictionaries**: A collection of key-value pairs: `{'name': 'Chris Chan', 'gender': Male, 'organization': COOP_Careers}`

### Arithmetic Operators

Python have symbols called `operators` that perform basic mathematics arithmetic computations

In [ ]:
print(4 + 2)  #addition
print(4 - 2)  #subtraction
print(4 * 2)  #multiplication
print(4 / 4)  #division
print(4 // 4) #floor division / integer division (divides then round down to the nearest integer)
print(4 ** 2) #exponent
print(4 % 2)  #modulo

6
2
8
1.0
1
16
0

##### ==================================================================================================
### Assignment Operators

Python uses a single equal sign (`=`) to assign values to a variable. We can combine the arithmetic operators with the assignment operator as a shortcut when we perform an operation and update a variable.

In [ ]:
my_num = 10 # Standard assignment
my_num -= 1 # Subtracts 1 from `my_num` and assigns the result back to `my_num`
my_num += 1 # Adds 1 to `my_num` and assigns the result back to `my_num`
my_num *= 1 # Multiplies the original value in `my_num` by 1 and assigns the result back to `my_num`
my_num /= 1 # Divides the original value in `my_num` by 1 and assigns the result back to `my_num`
# The above can be done with all the aforementioned arithmetic operators
print(my_num)

10.0

In [ ]:
my_num = 11.6
print(my_num)
my_num -= 1
print(my_num)
my_num += 1
print(my_num)
my_num *= 2 # my_num = my_num * 2
print(my_num)
my_num //= 2 # my_num = my_num / 2
print(my_num)

11.6
10.6
11.6
23.2
11.0

##### ==================================================================================================
### Booleans and Logical Operators

The result of a Boolean results in two values: `True` and `False`

The `assert` statement tests if a condition returns True. If condition returns True, then nothing happens. If condition returns False, AssertionError is raised.

In [ ]:
1 == 2

False

##### ==================================================================================================
### Comparison Operators and Inequalities

- Strictly Greater than: `>`
- Greater than or equal to: `>=`

- Strictly Less than: `<`
- Less than or equal to: `<=`

- Equal: `==`
- Does not equal: `!=`

##### ==================================================================================================
### Logical Operators

- `and`: Are both X and Y statements true?
- `or`: Is at least one of the two statements X and Y true?
- `not`: Is statement X false?

In [ ]:
10 > 5

True

In [ ]:
10 < 5

False

In [ ]:
10 > 5 and 4 > 1

True

In [ ]:
10 > 5 and 4 < 1

False

In [ ]:
10 < 5 or 5 > 10

False

In [ ]:
not 10 < 5

True

##### ==================================================================================================
Notice nothing happens when the statement below is run because the statement is True

In [ ]:
x = 100

assert x == 100

##### ==================================================================================================
Notice how a `AssertionError` appeared when the statement is not True when using the `assert` statement.

In [ ]:
x = 100

assert x == 200, 'x is not 100'

AssertionError: ignored

##### ==================================================================================================
## Strings

*String construction*

The `type()` function returns us the type of the object

Example:

In [ ]:
my_string = "I love COOP Careers"

##### ==================================================================================================
The `len()` function returns us the number of elements in the object

Example:

In [ ]:
len(my_string)

19

##### ==================================================================================================
*String replacement*

`.replace()` is a **method** -- a function that's built into all objects of a given type.

Functions (e.g. print, len, and type) and methods (e.g. str.replace) are effectively the same. However methods are defined within a particular class and is called on instances of that class using . followed by a method name.

Example:

In [ ]:
my_string = my_string.replace("COOP Careers", "Chris")
print(my_string)

I love Chris

In [ ]:
len(my_string)

12

In [ ]:
my_string

'I love Chris'

##### ==================================================================================================
## String Indexing

Python allows us to extract characters at specific index locations within a string. All index by default start with index 0.

Recall `my_string` is now defined as `I love Chris`

<img src="https://tinyurl.com/jakceks4" style="float: left; margin: 20px; height: 120px">

##### ==================================================================================================
*Select the first index character in* `my_string`

Example:

In [ ]:
my_string[0]

'I'

*Select the fifth index character in* `my_string`

In [ ]:
my_string[4]

'v'

##### ==================================================================================================
"Slicing: is a process by which you may pass a range of index values to select multiple elements in a string. In general, slicing in Python is inclusive on the left and exclusive on the right. In mathematics think of a interval from `[a,b)`. the general format for slicing a string is `x[start:end]` such that `x` represents the string

Example:

In [ ]:
my_string[0:9]

'I love Ch'

Example:

In [ ]:
my_string[3:10]

'ove Chr'

##### ==================================================================================================
You may also control the increments of your slices (default is 1) by adding on one extra component to the general format `x[start:end:step]`

*Slice every third character starting at 0 and ending at 12. Remember spaces count as a character*

Example:

In [ ]:
my_string[0:12:2]

'Ilv hi'

##### ==================================================================================================
*Reversing string `my_string`*

Example:

In [ ]:
my_string[

          ::-1]

'sirhC evol I'

##### ==================================================================================================
*Select the last character in the string `my_string`*

Example:

##### ==================================================================================================
### Lists

A `list` is a mutable sequence of objects in Python that may contain any combination of types

<b>WARNING:</b> Using `list` as a variable name will overwrite the built-in Python function. `list = [0,1,2,3,4,5]`. <b>Do not do this!</b>

##### ==================================================================================================
Creating a sample list

Example:

In [ ]:
my_list = ["apple","orange","grape","pineapple","cherry","lemon"]
print(my_list)

['apple', 'orange', 'grape', 'pineapple', 'cherry', 'lemon']

##### ==================================================================================================
Recall `list` are mutable so you may modify them as you like

Example:

In [ ]:
my_list[3] = "RED"
print(my_list)

['apple', 'orange', 'grape', 'RED', 'cherry', 'lemon']

##### ==================================================================================================
*Adding new item to the list via append*

Example:

In [ ]:
my_list.append("BLUE")
print(my_list)

['apple', 'orange', 'grape', 'RED', 'cherry', 'lemon', 'BLUE']

##### ==================================================================================================
### Tuples

A `tuple` is a sequence of objects may contain any combination of types which is ordered and immutable.

Example:

In [ ]:
my_tuple = (0,1,3,4,5)
print(my_tuple)

(0, 1, 3, 4, 5)

In [ ]:
type(my_tuple[2])

int

##### ==================================================================================================
*Slice tuple from index 2 to 5*

Example:

In [ ]:
print(my_tuple[2:5])

(3, 4, 5)

##### ==================================================================================================
### Range

The `range` function  can be used to create a sequence of numbers. The order of arguments is start, stop, step, just like in slicing.
##### ==================================================================================================
*Creating a sequence of numbers from  0 to 10 `range` function*

Example:

In [ ]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

##### ==================================================================================================
*Creating a sequence of numbers from 1 to 10, incrementing by 2 using `range` function*

Example:

In [ ]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

Example:

In [ ]:
list(range(0, 9, 2))

[0, 2, 4, 6, 8]

##### ==================================================================================================
### Dictionaries

A `Dictionary` is an ordered collection of key-value pairs, where the key indicates the location of some data and the value is the data that a key points to. They are mutable, but do not allow duplicate keys.
##### ==================================================================================================

*Creating a dictionary that maps the first name, last name and gender of the individual*

In [ ]:
my_dict = {"first_name": "Chris", "last_name": "Chan", "gender": "Male"}
#talk about working with dictionaries; should tell design taem to add the values/keys methods
print(my_dict.values())
print(my_dict.keys())

print(my_dict["first_name"])
print(my_dict["last_name"])
print(my_dict["gender"])

dict_values(['Chris', 'Chan', 'Male'])
dict_keys(['first_name', 'last_name', 'gender'])
Chris
Chan
Male

##### ==================================================================================================
*Add an entry for "height" of the individual*

Example:

In [ ]:
my_dict["height_cm"] = 173
print(my_dict["first_name"])
print(my_dict["last_name"])
print(my_dict["gender"])
print(my_dict["height_cm"])

Chris
Chan
Male
173

##### ==================================================================================================
### Summary
- Python has the following built-in types (among others):
    - Single-element:
        - `int` whole numbers
        - `float` decimal numbers
        - `bool` `True` or `False`
        
    - Container:
        - `str` for sequences of characters
        - `list` for holding arbitrary objects and is mutable
        - `tuple` for holding arbitrary objects but is immutable
        - `dict` for storing arbitrary objects in key:value pairs
        
- Ordered container types such as `str`, `list`, and `tuple` allow you to select items by position.
- The built-in `range` function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.
- Python has built-in functions such as `len` that take in object and returns the number of items in an object.
- Python types have built-in methods such as `str.replace`, replaces a specified phrase with another specified phrase.

##### ==================================================================================================
### Exercise 1:

Assign any `int` value to a variable we call `x`. Then use the `assignment operators` to reassign the value of `x` by carrying out the following steps:

1. Double the variable `x`
2. Add 6 to the variable `x`
3. Divide the variable `x` by 2
4. Subtract your initial value from `x`
5. Use the `assert` function in python to establish that x == 3 (An error will occur if an error is made)

In [ ]:
# Write your solution here
# Assign an initial value to x
x = 2  # You can choose any integer as your initial value

# Perform the operations
x *= 2   # Double the variable x
x += 6   # Add 6 to the variable x
x /= 2   # Divide the variable x by 2
x -= 2   # Subtract your initial value from x

# Use the assert function to check if x equals 3
print(x)
assert x == 3

3.0

##### ==================================================================================================
### Exercise 2:

Create a string called `my_name` that contains the letters of your first name in all lower case letters

In [ ]:
# Write your solution here
my_name = "Derik"

Create another string called `my_intro` that that contains the sentence `"hello my job is "` in all lower case letters

In [ ]:
# Write your solution here
my_intro = "hello my job is "

Reassign the string `my_intro` and use the `.replace` function to replace the word `"job"` with `"name"`

In [ ]:
# Write your solution here

my_intro = "hello my job is "
my_intro = my_intro.replace("job", "name")
print(my_intro.title())

Hello My Name Is

Use the addition `+` operator to concate the string `my_intro` followed by `my_name`. Be sure to utilize proper spacing with `" "` when needed

In [ ]:
# Write your solution here
my_intro.title() + my_name

'Hello My Name Is Derik'

##### ==================================================================================================
### Exercise 3:

Create a string called `your_slice` that contains the letters `"thisiswhycoopisthebest"`. Then slice the string `your_slice` to obtain the letters `coop` as an output

In [ ]:
# Write your solution here
# Create the string your_slice
your_slice = "thisiswhycoopisthebest"

# Slice the string to obtain "coop"
result = your_slice[9:13]

# Print the result
print(result)

coop

In [160]:
"""
This section was created by Derik Vo to give a preview on functions and how to combine everything we learned,
and will learn in the next few sections.

"""
#creats a "function" called substrindx
def substrindx(sub):
    #lower case input, so it patches our slice
    sub = sub.lower()
  #assert to determine if our input is a string
    assert isinstance(sub, str), f'{sub} is a {type(sub)} is not a string'
    #have a string to compare against (ideally should also be an input)
    your_slice = "thisiswhycoopisthebest"
    #finds the index of our input
    index = your_slice.rfind(sub)
  #determind if our input (sub) was found in the string, will return -1 if false
    if index != -1:
      #finds the index of the last latter of our input, need to subtract 1 from last_letter_index for actual postion because the splce is exlusive, so we needed 13 to include it
        last_letter_index = index + len(sub)-1
        print(f"Substring '{sub}' found at index {index}. Last letter index: {last_letter_index}")
    else:
        print(f"Substring '{sub}' not found in the string.")

In [162]:
substrindx('cOop')

Substring 'coop' found at index 9. Last letter index: 12

##### ==================================================================================================
### Exercise 4:

Create a list called `my_list` that contains the integers 1,2,3,4,5. Then append the string `six` to `my_list`

In [ ]:
# Write your solution here
# Create the list my_list with integers 1 through 5
my_list = [1, 2, 3, 4, 5]

# Append the string "six" to my_list
my_list.append("six")

# Print the updated list
print(my_list)

[1, 2, 3, 4, 5, 'six']